# collections

alternativas para los containers típicos: dict, list, set, tuple

In [1]:
from collections import Counter
from collections import deque
from collections import defaultdict
from collections import namedtuple

#### Counter

In [2]:
#desde un string
counter = Counter('misissippi')
counter

Counter({'m': 1, 'i': 4, 's': 3, 'p': 2})

In [3]:
#desde un iterable
counter = Counter(["cat", "cat", "dog", "dog", "cat", "gold fish"])
counter

Counter({'cat': 3, 'dog': 2, 'gold fish': 1})

In [4]:
#from dict
counter = Counter({'cat': 3, 'dog': 2, 'gold fish': 1})
counter

Counter({'cat': 3, 'dog': 2, 'gold fish': 1})

In [5]:
counter['shark']

0

In [6]:
list(counter.elements())

['cat', 'cat', 'cat', 'dog', 'dog', 'gold fish']

In [7]:
counter.most_common(2)

[('cat', 3), ('dog', 2)]

In [8]:
another_counter = Counter({'cat': 3, 'dog': 10})

In [9]:
another_counter

Counter({'cat': 3, 'dog': 10})

In [10]:
counter + another_counter

Counter({'cat': 6, 'dog': 12, 'gold fish': 1})

In [11]:
counter

Counter({'cat': 3, 'dog': 2, 'gold fish': 1})

#### deque
appends and pop alternativos

In [12]:
example_deque = deque(range(5))

In [13]:
example_deque

deque([0, 1, 2, 3, 4])

In [14]:
example_deque.append(5)
example_deque.appendleft(-1)

In [15]:
example_deque

deque([-1, 0, 1, 2, 3, 4, 5])

In [16]:
example_deque.extend([6, 7, 8])
example_deque.extendleft([-2, -3, -4]) # Ojo el ordenexample_deque.index(3)

example_deque

deque([-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8])

In [17]:
example_deque.index(3)

7

In [18]:
example_deque

deque([-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8])

In [19]:
example_deque.reverse()

In [20]:
example_deque

deque([8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4])

In [21]:
limited_deque = deque(range(5), maxlen=5)
limited_deque

deque([0, 1, 2, 3, 4])

In [22]:
limited_deque.append(5)
limited_deque

deque([1, 2, 3, 4, 5])

In [23]:
limited_deque.appendleft(0)
limited_deque

deque([0, 1, 2, 3, 4])

In [24]:
limited_deque.extend([5, 6, 7])
limited_deque

deque([3, 4, 5, 6, 7])

In [28]:
#empuja el 1,2,3 a la izda y saca el 5,6,7
limited_deque.extendleft([0, 1, 2])
limited_deque

deque([2, 1, 0, 1, 0])

In [29]:
# rota n pasos
limited_deque.rotate(2)
limited_deque

deque([1, 0, 2, 1, 0])

In [30]:
limited_deque.maxlen

5

In [31]:
limited_deque.clear()
limited_deque

deque([])

In [33]:
# si es más largo maxlen da los últimos n, en este caso 3
deque([1, 2, 3, 4, 5], maxlen=3)

deque([3, 4, 5])

#### defaultdict

In [34]:
sentence = (
    "imagine we want to take a sentence and store words in lists in"
    " a dictionary keyed on the letter that each word starts with")
sentence

'imagine we want to take a sentence and store words in lists in a dictionary keyed on the letter that each word starts with'

In [35]:
words_by_starting_letter = {}
for word in sentence.split(' '):
    if word[0] not in words_by_starting_letter:
        words_by_starting_letter[word[0]] = [word]
    else: # we know it's a list so append
        words_by_starting_letter[word[0]].append(word)

words_by_starting_letter

{'i': ['imagine', 'in', 'in'],
 'w': ['we', 'want', 'words', 'word', 'with'],
 't': ['to', 'take', 'the', 'that'],
 'a': ['a', 'and', 'a'],
 's': ['sentence', 'store', 'starts'],
 'l': ['lists', 'letter'],
 'd': ['dictionary'],
 'k': ['keyed'],
 'o': ['on'],
 'e': ['each']}

In [36]:
words_by_starting_letter = defaultdict(list)
for word in sentence.split(' '):
    words_by_starting_letter[word[0]].append(word)
words_by_starting_letter

defaultdict(list,
            {'i': ['imagine', 'in', 'in'],
             'w': ['we', 'want', 'words', 'word', 'with'],
             't': ['to', 'take', 'the', 'that'],
             'a': ['a', 'and', 'a'],
             's': ['sentence', 'store', 'starts'],
             'l': ['lists', 'letter'],
             'd': ['dictionary'],
             'k': ['keyed'],
             'o': ['on'],
             'e': ['each']})

In [37]:
# An example from the offical docs:
s = 'mississippi'
letter_counts = defaultdict(int)
for char in s:
    letter_counts[char] += 1

letter_counts

defaultdict(int, {'m': 1, 'i': 4, 's': 4, 'p': 2})

#### name tuple
Da algo de sentido a cada posición  de una tupla mediante ponerle un nombre, ayuda a que sea más leíble

In [39]:
student = ('Simon Ward-Jones', 30, True, [100, 100, 100, 99, 100])

In [41]:
def display_student(student):
    print(f"Student {student[0]} is {student[1]} years old "
          f"and has test scores {student[3]}")

In [42]:
display_student(student)

Student Simon Ward-Jones is 30 years old and has test scores [100, 100, 100, 99, 100]

In [43]:
Student = namedtuple("Student", "name age on_vacation test_scores")

In [44]:
Student = namedtuple("Student", ["name", "age", "on_vacation", "test_scores"])

In [45]:
simon = Student(
    name='Simon Ward-Jones', 
    age=30,
    on_vacation=True,
    test_scores=[100, 100, 100, 99, 100])

In [46]:
simon[2]

True

In [47]:
simon.on_vacation

True

In [48]:
def display_student(student: Student):
    print(f"Student {student.name} is {student.age} years old "
          f"and has test scores {student.test_scores}")

In [49]:
display_student(simon)

Student Simon Ward-Jones is 30 years old and has test scores [100, 100, 100, 99, 100]

In [50]:

older_simon = simon._replace(age=31)
older_simon # note this is a new instance!

Student(name='Simon Ward-Jones', age=31, on_vacation=True, test_scores=[100, 100, 100, 99, 100])

In [51]:
simon._fields

('name', 'age', 'on_vacation', 'test_scores')

In [52]:
#podemos hacer lo mismo con typing.NamedTuple

from typing import NamedTuple, List

In [53]:
class Student(NamedTuple):
    name: str
    age: int
    on_vacation: bool
    test_scores: List[int]

In [54]:
simon = Student(
    name='Simon Ward-Jones', 
    age=30,
    on_vacation=True,
    test_scores=[100, 100, 100, 99, 100])

In [55]:
simon

Student(name='Simon Ward-Jones', age=30, on_vacation=True, test_scores=[100, 100, 100, 99, 100])

In [57]:
student_data = [
    {
        "name": "John Smith",
        "age": 10,
        "on_vacation": False,
        "test_scores": [66, 85, 39, 61, 16, 92, 33, 3, 87, 71],
    },
    {
        "name": "Jane Doe",
        "age": 10,
        "on_vacation": False,
        "test_scores": [4, 73, 75, 4, 50, 83, 8, 23, 42, 23],
    },
    {
        "name": "Isaac Newton",
        "age": 30,
        "on_vacation": True,
        "test_scores": [93, 96, 94, 92, 95, 90, 100, 98, 90, 94],
    },
]

In [58]:
student_data[0]

{'name': 'John Smith',
 'age': 10,
 'on_vacation': False,
 'test_scores': [66, 85, 39, 61, 16, 92, 33, 3, 87, 71]}

In [59]:
students = [Student._make(student.values()) for student in student_data]

In [60]:
# Challenge 

#crear namedtuple Point con x, e y (cartesiano)
#lista con 100 puntos x entre 1 y 3, y entre 1 y 3
#encontrar el ñunto más común

# Ojo: random.randint(1, 3)

In [65]:
from random import randint

# Point = namedtuple("Point", "x y")

class Point(NamedTuple):
    x: int
    y: int
    
points = [Point(randint(1, 3), randint(1, 3)) for _ in range(100)]

most_common, count = Counter(points).most_common(1)[0]

print(f"{most_common} appears {count} times")

Point(x=1, y=2) appears 15 times