In [1]:
import pandas as pd

In [4]:
data_file = 'data/stocks.csv'
stocks = pd.read_csv(data_file)

In [5]:
stocks

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT
5  2016-10-04   31.35  18460400   CSCO
6  2016-10-05   57.64  16726400   MSFT
7  2016-10-05   31.59  11808600   CSCO
8  2016-10-05  113.05  21453100   AAPL

In [11]:
stocks.columns

Index(['Date', 'Close', 'Volume', 'Symbol'], dtype='object')

In [9]:
stocks.index #es un índice normal y corriente, no un multiindex

RangeIndex(start=0, stop=9, step=1)

In [10]:
stocks.groupby('Symbol').Close.mean()

Symbol
AAPL    112.856667
CSCO     31.480000
MSFT     57.433333
Name: Close, dtype: float64

In [14]:
stocks.groupby(['Symbol', 'Date']).Close.mean()

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

tenemos solo un precio por ticker por dia, si hubiera varios sale un promedio, es un ejemplo ... Ahora tenemos una **serie** con un multi-index, entonces llamémoslo `ser`

In [15]:
ser = stocks.groupby(['Symbol', 'Date']).Close.mean() 
ser.index

MultiIndex([('AAPL', '2016-10-03'),
            ('AAPL', '2016-10-04'),
            ('AAPL', '2016-10-05'),
            ('CSCO', '2016-10-03'),
            ('CSCO', '2016-10-04'),
            ('CSCO', '2016-10-05'),
            ('MSFT', '2016-10-03'),
            ('MSFT', '2016-10-04'),
            ('MSFT', '2016-10-05')],
           names=['Symbol', 'Date'])

Es una serie con dos dimensiones. Podemos convertirla en DF en este caso con unstack

In [16]:
ser.unstack()

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

Podríamos hacer lo mismo con `pivot_table` que por default la función de agregación es el mean

In [20]:
stocks.pivot_table(values='Close', index='Symbol', columns='Date') #esto es un dataframe

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [21]:
ser

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

In [23]:
#seleccionar todos los datos de APPL 
ser.loc['AAPL']

Date
2016-10-03    112.52
2016-10-04    113.00
2016-10-05    113.05
Name: Close, dtype: float64

In [24]:
# APPL el 2016-10-05
ser.loc['AAPL','2016-10-05']

113.05

In [25]:
# selecciono una fecha
ser.loc[:,'2016-10-05']

Symbol
AAPL    113.05
CSCO     31.59
MSFT     57.64
Name: Close, dtype: float64

Es `ser.loc[FIRST_LEVEL, SECOND_LEVEL]`